@model ClickOnIndia.Areas.Admin.Models.TrainModel

@{
    ViewBag.Title = "Manage Train";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ClickOnIndia.App_Start.Common objCommon = new ClickOnIndia.App_Start.Common();
    var objRoutes = objCommon.GetRoutes();
}



@using (Html.BeginForm())
{
    <div class="row">

        <div class="offset-md-1 col-md-10">
            @if (Model.RESULT != null && Model.RESULT != "")
            {

                <div class="row">
                    <div class="col-md-12 strong text-danger text-center">
                        @Model.RESULT
                    </div>
                </div>

            }

            <div class="card">
                <div class="card-header bg-secondary">
                    <strong class="card-title text-center">Manage Train</strong>
                </div>
                <div class="card-body">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Train Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(m => m.TRAIN_NAME, new { @class = " form-control form-control-sm"  })
                            <small class="form-text text-muted">@Html.ValidationMessageFor(m => m.TRAIN_NAME, String.Empty, new { @class = "text-danger" })</small>
                        </div>
                    </div>



                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Train Type</label>
                        </div>
                        <div class="col-12 col-md-9">
                            @Html.DropDownListFor(m => m.TYPE, new SelectList(objCommon.GetTrainTypes(), "ID", "VALUE"), "Select Type", new { @class = "form-control form-control-sm" })
                            <small class="form-text text-muted">@Html.ValidationMessageFor(m => m.TYPE, String.Empty, new { @class = "text-danger" })</small>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Start Time</label>
                        </div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(m => m.START_TIME, new { @class = " form-control form-control-sm"  })
                            <small class="form-text text-muted">@Html.ValidationMessageFor(m => m.START_TIME, String.Empty, new { @class = "text-danger" })</small>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Train Number</label>
                        </div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(m => m.TRAIN_NUM, new { @class = " form-control form-control-sm" })
                            <small class="form-text text-muted">@Html.ValidationMessageFor(m => m.TRAIN_NUM, String.Empty, new { @class = "text-danger" })</small>
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Routes</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <table class="table">
                                <tbody>
                                    @foreach (var itemroute in objRoutes)
                                    {
                                    <tr>
                                        <td><input type="checkbox" name="CHECK_ROUTES" value="@itemroute.ID" /></td>
                                        <td><span>@itemroute.VALUE</span></td>
                                        <td><a href="javascript:void(0);">UP</a></td>
                                        <td><a href="javascript:void(0);">MOVE</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-6 text-right">
                                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="card-footer">

                    <button type="submit" class="btn btn-success btn-sm">Submit</button>

                    @*<button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>*@
                </div>
            </div>
        </div>
    </div>






}