<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="~/Content/images/bp_qOC_icon.ico">

    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Content/assets/scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/assets/css/myCus.css" rel="stylesheet" />
</head>
<body>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index")">
                    <h5 style="color:wheat;font-style:normal;">Adminstrator</h5>
                </a>
                <a class="navbar-brand hidden" href="./">
                    <h5 style="color:wheat;font-style:normal;">A</h5>
                </a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Train Route</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewTrainRoute","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageTrainRoute","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Bus Route</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewBusRoute","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageBusRoute","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Train</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewTrain","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageTrain","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Bus</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewBus","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageBus","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Hotel</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewHotel","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageHotel","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Hotel Room</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewHotelRoom","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageHotelRoom","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Hotel Room Type</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewHotelRoomType","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageHotelRoomType","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Compartment</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewCompartment","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageCompartment","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Seat Class</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ViewSeatClass","Admin", new { Area = "Admin" })">View</a></li>
                            <li><i class="fa fa-table"></i><a href="@Url.Action("ManageSeatClass","Admin", new { Area = "Admin" })">Add</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </aside>
    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome  @Session["UserName"].ToString()
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="@Url.Action("MyAccount","Users")"><i class="fa fa-user"></i>My Account</a>
                            <a class="nav-link" href="@Url.Action("LogOut","Home", new { Area = "" })"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="body-content">
            @RenderBody()
        </div>

        <input type="hidden" id="hdnError" value="@ViewBag.Msg" />
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="~/Scripts/js/plugins.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/js/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
